:root {
    --color1: #efca11;
    --color2: #aa0000;
    --color3: #c9a805;
    --color4: #910000;
    --branco: #ffffff;
}

*,
*:hover {
    transition: 0.3s all ease;
}

.all {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-size: 110%;
    font-family: 'Josefin Sans' sans-serif;
}

header {
    background-image: url("./images/bg_header.png");
    background-size: cover;
}

section#social ul {
    background-color: var(--branco);
    padding: 0.2rem;
    margin: 0;
}

.img.logo {
    width: 10rem;
}


/* SLIDE */

.slide {
    width: 100%;
}


/* CONTEÚDO */

section#content .content {
    background: url('./images/bg_marrom.png') repeat var(--color3);
}

.bg-white {
    background: var(--branco);
}

.bg-shadow {
    box-shadow: 0 9px 0px 0px white, 0 10px 0px 0px white, 12px 0 6px -4px rgba(68, 68, 68, 0.8), -12px 0 6px -4px rgba(68, 68, 68, 0.8);
}


/* MENU PRINCIPAL */

.navbar-toggler,
.custom-toggler.navbar-toggler-icon {
    border-color: #FFFFFF !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#menu #navbarPrincipal ul {
    margin-top: .4rem;
}

#menu #navbarPrincipal ul li {
    margin: 0 1.1rem;
}

#menu #navbarPrincipal ul li a {
    font-size: 1.1rem;
    color: var(--branco);
    border-bottom: 1px solid transparent;
    padding: 0;
    text-transform: lowercase;
}

#menu #navbarPrincipal ul li a:hover,
#menu #navbarPrincipal ul li.active a {
    color: var(--color1);
    border-bottom: 1px solid var(--color1);
}


/* MAP */

.bg-yellow {
    background: url('./images/bg_red.png') repeat var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.bg-yellow .address {
    width: 20rem;
    height: 6rem;
}

.bg-yellow .address h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color2);
}

footer .footer {
    background: url('./images/bg_white.png') repeat var(--color2);
}

footer .footer p {
    color: var(--branco);
}


/* PPÁGINA PIZZARIA */

h3.title,
body.cardapio h5 {
    text-transform: uppercase;
    color: var(--color2);
}

body.pizzaria p,
body.cardapio p.card-text:first-child {
    text-align: justify;
}


/* CARDÁIO */

.btn-go {
    background-color: var(--color2);
    color: var(--branco);
}

.btn-go:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.card {
    border-color: var(--color1);
}

.card:hover {
    border-color: var(--color2);
}

.form-control {
    border: 1px solid var(--color2);
    border-radius: 0;
    box-shadow: rgba(0, 123, 255, 0);
}

.form-control:focus,
.form-control:hover {
    border: 1px solid var(--color1);
    border-radius: 0;
    outline: 0;
    box-shadow: rgba(0, 123, 255, 0);
}

@media (min-width: 576px) {
    body.home header {
        min-height: 25.25rem;
    }
    .bg-yellow {
        margin-top: 0;
    }
    .img.logo {
        width: 10rem;
    }
}

@media (min-width: 768px) {
    /* celular / tablet */
    .img.logo {
        width: 10rem;
    }
}

@media (min-width: 992px) {
    /* pequenas telas */
}

@media (min-width: 1200px) {
    /* grandes telas */
    body.home header {
        min-height: 31.25rem;
    }
}